
td, th {
    padding: 5px;
}
th{
	background: rgba(0, 51, 51, 0.64);
	color:#FFFFFF
}
tr:nth-child(even){background-color: #f2f2f2}
div#crudapp {
	width: 300px;
    margin: 5% auto;
    border: 2px dashed #F3E2E2;
    padding: 0 15px;
}
#crudapp h1 {
    text-align: center;
	font-weight:900;
	color: rgb(112, 104, 230);
}
#crudapp h3 {
    text-align: center;
	font-weight:700;
}
#crudapp table{
	margin: 0 auto;
}
.field {
    margin: 10px 0;
}
form#update {
    float: none!important;
    padding: 0;
}
.table{
	overflow-x:scroll;
}