
td, th {
    padding: 5px;
    font-weight: 900;
}
th{
	background: rgba(0, 51, 51, 0.64);
	color:#FFFFFF
}
button {
    font-weight: normal;
}
div#crudapp {
	width: 300px;
    margin: 5% auto;
    border: 2px dashed #F3E2E2;
    padding: 0 15px;
    background: url(media/bg.png)
}
#crudapp h1 {
    text-align: center;
	font-weight:900;
	color: #FFFFFF;
}
#crudapp h3 {
    text-align: center;
	font-weight:700;
}
#crudapp table{
	margin: 0 auto;
}
.field {
    margin: 10px 0;
}
form#update {
    float: none!important;
    padding: 0;
}
.table{
	overflow-x:scroll;
}
.action {
    margin-left: 47px;
}